:root {
    --yellow-900:#FFDA0B;
    --yellow-800:#FF540B;
    --black:#000;
    --black_800:#000000af;
    --regular-400: 400;
    --medium-500: 500;
    --bolt-700: 700;
    --bolt-800: 800;
    --little: 0.02em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    cursor: pointer;
}

.container {
    width: 1200px;
    padding: 0 10px;
    margin: 0 auto;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--yellow-900);
    background-color:var(--black);
}
/* ________________________HEADER________________________ */

.header{
    background-color:var(--black);
    color: var(--yellow-900);
    padding: 15px;
}
.header_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_list{
    display: flex;
    gap: 30px;
}
.header_item{
    cursor: pointer;
}
.header_item:hover,
.header_item:focus{
    background-image: linear-gradient(90deg, #FFDA0B,#FF540B);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.logo{
    width: 150px;
    height: 100px;
}

/* ________________________HERO________________________ */
.hero{
    background-image: url(../images/bg_hero.jpg);
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
   
   
}
.hero_title{
    color: var(--black);
    max-width: 700px;
    padding-top: 350px;
}

/* ________________________TEAM________________________ */
.slider{
    margin-bottom: 50px;
}
.slider_item{
    width: 300px;
    display: inline-block;
}
.slider_text{
    background-image: linear-gradient(90deg, #FFDA0B 30%,#FF540B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    display: block;
}
/* .slick-slide{
    width: 400px !important;
} */

.team{
    padding: 70px 0;
}
.team_list{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;
    
}
.team_item{
max-width: 350px;
}
.team_img{
    max-width: 100%;
}
.team_name{
    text-align: center;
    margin-bottom: 15px;
}
.team_info{
 position: relative;
}
.team_info:not(:last-child){
   margin-bottom: 20px;
   }
.team_about{
    text-align: center;
}
.team_list_about{
    text-align: center;
}

.team_information{
    max-width: 700px;
    padding-left: 15px;
    margin: auto;
    position: relative;   
}
/* .team_information::before{
    content:" ";
width: 15px;
height: 2px;
position: absolute;
display: block;
background: linear-gradient(45deg, #FFDA0B 25%,#FF540B);
top: 25%;
left: 15px;
} */

.team_info:not(:last-child){
    margin-bottom: 30px;
}
.team_icon{
    z-index: 1;
    width: 20px;
    height: 20px;
}
/* ________________________PARTNERS________________________ */
.partners_list{
    margin-bottom: 50px;
}
.partners_img{
    width: 300px;
    height: 150px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
}



/* ________________________SERVICES________________________ */

.title{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 50px;
}
.services_point{
    width: 350px;
}
.services_item-title{
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}
.services_item:not(:last-child){
    margin-bottom: 15px;
}
.services_item-link{
    color: var(--yellow-900);
    text-decoration: none;
}
.services_item-title{
    padding-bottom: 10px;
    position: relative;;
}

.services_item-title:before {
   content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 90%;
  height: 2px;
 
  background: var(--yellow-900);
}
.services_item-title:after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 45%;
  margin-left: -15%;
  width: 30%;
  height: 2px;
  background: var(--yellow-900);
}
.services_info{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 70px;
}
.services_point{
    max-width: 400px;
}
.services_item-link{
    position: relative;
}
.services_item-link::after{
    content: url("/images/icons/new.svg");
    position: absolute;
    background-repeat: no-repeat;
    display: block;
    object-fit: contain;
    top: -15px;
    right: -50px;
}

/* ________________________BLOGERS________________________ */


.blogers_list{
    margin-bottom: 30px;
}
.blogers_item{
    width: 350px !important;
}
.blogers_img{
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
}
.blogers_name{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
.blogers_icons{
    width: 100%;
    margin-bottom: 20px;
}
.blogers_soc{
    display: flex;
    justify-content: space-around;
}
.blogers_link{
    text-align: center;
}
.blogers_icon{
    width: 30px;
    height:30px;
    margin: auto;
    margin-bottom: 10px;
}
.blogers_people{
    text-decoration: none;
    border-bottom: none;
    color: var(--yellow-900);
}


.video{
    width: 100%;
    height: 750px;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: contain;
}
.video__link {
    width: 100%;
    height: 750px;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: contain;
}

.video__link:hover {
    transform: scale(1.5);
}

/* ________________________GALLERY________________________ */
.gallery{
    margin-bottom: 70px;
}
.gallery_list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px 15px;
    margin: auto;
}
.gallery_item{
    max-width: 350px;
}
.gallery_img{
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
} 
.gallery_item:hover .gallery_hover{
transform: translateY(0);
}
.gallery_wrap{
position: relative;
overflow: hidden;
}
.gallery_hover{
    position: absolute;
    top: 0;
    background-color: var(--black_800);
    padding: 10px 15px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms linear;
}
.gallery_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;    
    letter-spacing: 0.02em;
    color:var(--blue-400);
    overflow: auto;
    
}

/* ________________________ADVERTISING________________________ */
.advertising_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.advertising_info{
    width: 60%;
}
.advertising_text{
    max-width: 50%;
    margin-bottom: 15px;
}
.advertising_slider{
    width: 40%;
}
.slick-track{
    width: 200px;
}
.advertising_photo{
    width: 100%;
    height: 500px;
    object-fit: contain;
}


/* ________________________PRODUCTION________________________ */
.production_tanuki,
.production_item{
    margin-bottom: 70px;
}
.production_bloger{
    margin-bottom: 50px;
}
.production_wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.production_info{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.production_item:not(:last-child)::after{
    content: " ";
    position: relative;
    display: block;
    width: 50%;
    height: 3px;
    margin: auto;
    background-image: linear-gradient(90deg, #FFDA0B,#FF540B);;
    border-radius: 2px;
    z-index: 1;
}
.production_text{
    max-width: 600px;
    max-height: 200px;
    margin-bottom: 30px;
}
.production_text_num{
    max-width: 250px;
}
.production_image{
    margin: auto;
}
.production_icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.production_text-tanuki{
    text-align: center;
    max-width: 900px;
    margin: auto;
}
.production_icon-tanuki{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
}
.production_icon{
    width: 50px;
    height: 50px;
}
.production_img{
    background-position: center center;
    margin-bottom: 10px;
}
.production_link,
.production_text{
    text-align: left;
}
.production_link{
    text-decoration: none;
    color: var(--yellow-900);
}