:root {
    --yellow-900:#FFDA0B;
    --yellow-800:#FF540B;
    --black:#000;
    --black_800:#000000af;
    --regular-400: 400;
    --medium-500: 500;
    --bolt-700: 700;
    --bolt-800: 800;
    --little: 0.02em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    cursor: pointer;
}

.container {
   max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body,
.header_link {
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    line-height: 1.1;
    color: var(--yellow-900);
    background-color:var(--black);
    margin: 0;
}
.title{
    font-family: 'Comfortaa';
    font-weight: 700;
    text-align: center;
    font-size: 56px;
    margin-bottom: 50px;
    background-image: linear-gradient(90deg,#FF540B 10%,#FFDA0B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* ________________________HEADER________________________ */

.header{
    background-color:var(--black);
    color: var(--yellow-900);
    padding: 30px;
}
.header_navigation{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.header_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header_btn{
    display: none;
}
.header_list{
    display: flex;
    gap: 30px;
}

.header_item{
    cursor: pointer;
}
.header_item:hover,
.header_item:focus,
.footer_link:hover{
    background-image: linear-gradient(90deg, #FFDA0B,#FF540B);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.header_link{
    text-decoration: none;
}

.logo{
    width: 150px;
    height: 100px;
   
}

/* ________________________HERO________________________ */
.hero{
    background-image: url(../images/bg_hero.jpg);
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
   
}
.hero_top{
    color: var(--black);
   
}
.hero_top{
    position: absolute;
    margin: auto;
    top: 40%;
   max-width: 90%;
    text-align: left;
    z-index: 1;
    color: var(--black);
}
.hero_title{
    font-family: 'Comfortaa';
    line-height: 1.2;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* ________________________TEAM________________________ */
.slider{
    margin-bottom: 50px;
}
.slider_item{
    max-width: 400px;
    margin: 0 15px;
    display: inline-block;
}


.slick-slider{
    padding: 5px;
    color: var(--black);
}
.slider_text{
    font-size: 16px;
    line-height: 1.1;
    font-family: 'Press Start 2P';
    background-image: linear-gradient(90deg,#FF540B 10%, #FFDA0B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    display: block;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 25px;
    line-height: 1;
    color: var(--yellow-900);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.team{
    padding: 70px 0;
}
.team_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 40px;
    
}
.team_item{
    max-width: 350px;
}
.team_img{
    max-width: 100%;
}
.team_name{
    font-size: 30px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 15px;
}

.team_info:not(:last-child){
   margin-bottom: 20px;
   }
.team_about{
    text-align: center;
}
.team_list_about{
    text-align: center;
}

.team_information{
    max-width: 700px;
    padding-left: 15px;
    margin: auto;   
}

.team_info:not(:last-child){
    margin-bottom: 30px;
}
.team_icon{
    z-index: 1;
    width: 20px;
    height: 20px;
}
/* ________________________PARTNERS________________________ */
.partners_list{
    margin-bottom: 50px;
}
.partners_img{
    width: 300px;
    height: 150px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
}



/* ________________________SERVICES________________________ */

.services_info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.services_point{
    max-width: 380px;
   
}

.services_item-title{
    font-family: 'Press Start 2P';
    font-size: 18px;
    line-height: 1.1;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 20px;
    text-align: left;
    position: relative;
}
.services_item-title:before {
content: "";
  position: absolute;
  top: -16px;
  left: -15px;
  width: 150px;
  height: 30px;
  border-top: 2px solid;
  border-image:linear-gradient( to right,#FFDA0B, #FF540B) 1 0%;
 }
.services_item-title::after {
    content: "";
  position: absolute;
  top: -16px;
  left: -15px;
  width: 90px;
  height: 30px;
  border-left: 2px solid var(--yellow-900);
 
 }
.services_item:not(:last-child){
    margin-bottom: 15px;
}
.services_item-link{
    color: var(--yellow-900);
    text-decoration: none;
}



.services_wrap{
    position: relative;
    display: inline-block;
}
.services_item{
     display: block;
}

.service_down_item{
    padding: 5px 10px;
    color: var(--black);
    background-image:linear-gradient(90deg, #FFDA0B 30%,#FF540B);
    
}

.services_item-link::after{
    content: url("../images/icons/new.svg");
    position: absolute;
    background-repeat: no-repeat;
    display: block;
    object-fit: contain;
    top: -15px;
    right: 0;
}
.service_down{
    display: none;
    position: absolute;
    background-color: var(--black);
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}
.services_wrap:hover .service_down {
    display: block;
}
.services_wrap:active .service_down {
    display: block;
}

.services_wrap:hover .services_item-link {
   background-image:linear-gradient(90deg, #FFDA0B 30%,#FF540B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

/* ________________________BLOGERS________________________ */


.blogers_list{
    margin-bottom: 30px;
}
.blogers_item{
    width: 300px !important;
}
.blogers_img{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}
.blogers_name{
    font-size: 24px;
    text-align: center;
    color: var(--yellow-900);
    margin-bottom: 20px;
}
.blogers_icons{
    width: 100%;
    margin-bottom: 20px;
}
.blogers_soc{
    display: flex;
    justify-content: space-around;
}
.blogers_link{
    text-align: center;
}
.blogers_icon{
    width: 30px;
    height:30px;
    margin: auto;
    margin-bottom: 10px;
}
.blogers_people{
    font-size: 14px;
    text-decoration: none;
    border-bottom: none;
    color: var(--yellow-900);
}
.video_wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    max-width: 1200px;
    
}
.video{
   width: 100%;
   height: 600px;
   
}
/* ________________________GALLERY________________________ */
.gallery{
    margin-bottom: 70px;
}
.gallery_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px 15px;
    margin: auto;
}
.gallery_item{
    max-width: 300px;
}
.gallery_img{
    max-width: 100%;
    max-height: 250px;
    object-fit: contain;
} 
.gallery_item:hover .gallery_hover{
transform: translateY(0);
}
.gallery_wrap{
position: relative;
overflow: hidden;
}
.gallery_hover{
    position: absolute;
    top: 0;
    background-color: var(--black_800);
    padding: 10px 10px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms linear;
    overflow-x:hidden;
    overflow-y:scroll;  
}

.gallery_hover::-webkit-scrollbar {
    width: 12px;               /* ширина всей полосы прокрутки */
}
  
.gallery_hover::-webkit-scrollbar-track {
    background: var(--black);        /* цвет зоны отслеживания */
}
  
.gallery_hover:-webkit-scrollbar-thumb {
    background-color: var(--yellow-900);    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
    border: 3px solid var(--black);  /* отступ вокруг бегунка */
  }
.gallery_text{
    width: 90%;
}
body::-webkit-scrollbar {
  width: 12px;               /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background: var(--black);        /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--yellow-900);    /* цвет бегунка */
  border-radius: 20px;       /* округлось бегунка */
  border: 3px solid var(--black);  /* отступ вокруг бегунка */
}
.force-overflow {
    min-height: 450px;
}

.gallery_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;    
    letter-spacing: 0.02em;
    color:var(--blue-400);
    overflow: auto;
    
}

/* ________________________ADVERTISING________________________ */
.advertising_wrap{
   margin-bottom: 50px;
}
.advertising_information{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin: auto;
  max-width: 900px;
  margin-bottom: 30px;
  padding-top: 30px;
 
}
.advertising_item:not(:last-child){
    margin-bottom: 50px;
}
.advertising_item:not(:last-child)::after{
    content: " ";
    position: relative;
    display: block;
    width: 80%;
    height: 5px;
    margin: auto;
    background-image: linear-gradient(90deg, #FFDA0B,#FF540B);;
    border-radius: 2px;
    z-index: 1;
}
.advertising_text{
    
    margin-bottom: 15px;
}
.advertising_list-photo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.advertising_photography{
    max-width: 600px;
}
.advertising_photo_top{
    max-width: 350px;
}
.slick-track{
    width: 200px;
}
.advertising_photo{
    max-height: 300px;

    object-fit: contain;
}


/* ________________________PRODUCTION________________________ */
.production_heading{
    font-family: 'Press Start 2P';
    font-size: 18px;
    line-height: 1.1;
    padding-bottom: 10px;
    position: relative;;
    text-align: center;
    margin-bottom: 30px;
}
.production_heading:before {
    content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 50%;
   height: 2px;
   left: 25%;
   background:linear-gradient(90deg,#FF540B 50%,#FFDA0B);
 }
 .production_heading:after {
   content: "";
   position: absolute;
   bottom: -5px;
   left: 50%;
   margin-left: -15%;
   width: 30%;
   height: 2px;
   background-image:linear-gradient(90deg, #FFDA0B 30%,#FF540B);
 }

.production_tanuki,
.production_item{
    margin-bottom: 70px;
}
.production_bloger{
    margin-bottom: 50px;
}
.production_wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.production_list{
    max-width: 850px;
    margin: auto;
}

.production_info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 50%;
}

.production_item:not(:last-child)::after{
    content: " ";
    position: relative;
    display: block;
    width: 80%;
    height: 5px;
    margin: auto;
    background-image: linear-gradient(90deg, #FFDA0B,#FF540B);;
    border-radius: 2px;
    z-index: 1;
}
.production_title{
    text-align: center;
}
.production_text{
    font-size: 20px;
    max-width: 600px;
    max-height: 200px;
    margin-bottom: 30px;
}
.production_text_num{
    max-width: 250px;
}
.production_image{
    margin: auto;
    
}
.production_img{
    max-height: 350px;
}
.production_icons{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 50px;
}
.production_text-tanuki{
    padding: 0 15px;
    text-align: center;
    margin-bottom: 40px;
}
.production_icon-tanuki{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}
.production_icon{
    width: 40px;
    height: 40px;
}
.production_img{
    background-position: center center;
    margin-bottom: 10px;
}
.production_link,
.production_text{
    text-align: left;
}
.production_link{
    text-decoration: none;
    color: var(--yellow-900);
}
.production_item_video{
margin: 15px 0;
}

.production_item_video::before{
    content: " ";
    position: relative;
    display: block;
    width: 80%;
    height: 5px;
    margin: auto;
    background-image: linear-gradient(90deg, #FFDA0B,#FF540B);;
    border-radius: 2px;
    z-index: 1;
    top: -30px;
}


/* ________________________FOOTER________________________ */
.footer{
    padding: 50px 0;
}
.footer_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: auto;
}

.footer_item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}
.footer_icon{
    margin-right: 20px;
}
.footer_link{
    text-decoration: none;
    color: var(--yellow-900);
}
.footer_link:focus{
color: var(--yellow-800);
}
.footer_img{
    max-width: 400px;
}


/* ________________________ADAPTIVE________________________ */


@media (max-width:1445px){
    .hero_title {
        font-size: 28px;
    }
    .services_point{
        margin-right: 15px;
        margin-bottom: 20px;
    }
    .services_info{
        justify-content: center;
    }
    .title{
        font-size: 30px;
    }
    .blogers_item{
        max-width: 250px;
    }
    .blogers_img{
        height: 250px;
    }
    .slick-prev{
        top: -20px;
        left: 30%;
    }
    .slick-next{
        top: -20px;
        left: 55%;
    }
    .slick-prev:before, .slick-next:before {
        font-size: 35px;
    }
    .advertising_list-photo {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    .advertising_item:not(:last-child)::after {
        width: 60%;
    }
}

@media (max-width:1200px){
    .title{
        font-size: 24px;
    }
    .header{
        padding: 15px 0;
    }
    .logo{
        top: -15px;
    }
   
    .hero_title {
        font-size: 26px;
        max-width: 1000px;
        text-align: center;
        color: var(--black);
    }
    .header_btn,
    .header_btn::before,
    .header_btn::after{
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
       border: none;
        background-color: var(--yellow-900);
    }
    .header_btn::before {
        content: '';
        top: -8px;
        left: 0;
        
      }
      .header_btn::after {
        content: '';
        top: 8px;
        left: 0;
        
      }
    .header_btn:hover,
    .header_btn::before:hover,
    .header_btn::after:hover {
        background-color: #00b3ff;
      }

      


    .header_list{
        position: absolute;
        z-index: 1;
        gap: 0;
        width: 50%;
        left: 25%;
        /* top: -55px;  */
        background-image: linear-gradient(90deg, #FFDA0B,#FF540B);
        text-align: center;
        transform: translateY(-100%);
        transition: translateY 250ms;
    }
    .header_list.header_list--active{
        transform: translateY(40%);
    }
    .header_item{
        padding: 20px;
    }
    .menu_list{
        padding-top: 0;
        flex-direction: column;
    }
    .team_list{
        justify-content: center;
    }
    .team_item {
        max-width: 400px;
    }
    .team_name {
        font-size: 22px;
    }
    .team_list_about::before,
    .team_list_about::after{
    content: " ";
    position: relative;
    display: block;
    width: 80%;
    height: 5px;
    margin: auto;
    background-image: linear-gradient(90deg, #FFDA0B,#FF540B);
    border-radius: 2px;
    z-index: 1;
    top: 0;
    }
    
    .services_point {
       max-width: 500px;
    }
    .services_item-link::after {
        right: -60px;
    }
    .service_down {
        min-width: 500px;
    }
    .blogers_list{
        max-width: 750px;
        margin: auto;
    }
    .slick-prev{
        left: 40%;
    }
    .slick-next{
        left: 55%;
    }
    .gallery_list{
        column-gap: 10px;   
    justify-content: center;}
    .production_item{
        max-width: 850px;
        margin: auto;
        padding-top: 20px;
    }
    .production_wrap,
    .production_information {
        margin-bottom: 20px;
    }
    
}

@media (max-width:991px){
    .logo { 
        right: 50px;
    }
    .team_item {
        max-width: 350px;
    }
    .partners_img {
        width: 250px;
        height: 100px;
        object-fit: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: auto;
    }
    .services_item-title:after { 
        top: -10px;
        left: 0;
        width: 100%;       
        margin-left: 0;
    }
    
    .production_wrap {
        justify-content: space-around;
        margin-bottom: 20px;
    }
    
}

@media (max-width:772px){
    .hero_title{
        font-size: 20px;
    }
    .blogers_item {
        max-width: 150px;
    }
    .blogers_img {
        max-height: 150px;
    }
    .production_image {
        max-width: 250px;
        margin: auto;
    }
    .production_icon-tanuki {
        max-width: 150px;
    }
    .services_point{
        margin-right: 0;
    }
   .services_item-link:click
    .gallery_item {
        max-width: 250px;
    }
    .footer_wrap {
      flex-direction: column;
    }
    .footer_img {
        max-width: 200px;
    }
    .footer_icon {
        width: 25px;
        height: 25px;
        margin-right: 20px;
    }
    
}
@media (max-width:575px){
    .hero_title {
        font-size: 14px;
    }
    .title {
        font-size: 20px;
    }
    .slider_text{
        font-size: 14px;
    }
    .header_list.header_list--active {
        width: 230px;
    }
    .team {
        padding: 30px 0;
    }
    .team_item {
        max-width: 300px;
    }
    .slick-slide{
        margin-right: 15px;
    }
    .partners_img {
        width: 350px;
        height: 100px;
    }
    .services_item{
        text-align: center;
    }
    .services_item-title{
        text-align: center;
    }

    .services_point{
        margin-bottom: 15px;
        border-bottom:  2px solid;
        border-image:linear-gradient( to right,#FFDA0B, #FF540B) 1 0%;
        width: 100%;
    }
    .services_item-title::after { 
       display: none;
    }
    .services_item-title::before { 
       display: none;
    }
    .services_item:last-child{
        margin-bottom: 15px;
    }
    .services_item-link::after {
        right: 0;
        top: 20px;
    }
    .service_down {
        min-width: 300px;
    }
    .blogers_icon {
        width: 20px;
        height: 20px;
        margin-bottom: 5px;
    }
    .blogers_item {
        max-width: 165px;
    }
    .blogers_img {
        max-height: 165px;
    }
    .blogers_soc {
       justify-content: center;
       flex-direction: column;
    }
    .blogers_people{
     text-align: center;
    }
    .advertising_information {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
       
    }
    .blogers_name{
        font-size: 18px;
    }
    .advertising_photo {
       margin: auto;
    }
    .advertising_item:not(:last-child)::after {
        width: 80%;
        top: -30px;
    }
    .gallery_item {
        max-width: 150px;
    }
    .production_wrap {
        flex-direction: column;
        align-items: center;
         margin-bottom: 50px;
     }
     .production_link, .production_text {
         text-align: center;
     }
     .production_icon-tanuki {
        max-width: 120px;
    }
    .production_icons {
        flex-wrap: wrap;
        gap: 20px;
    }
     .production_icon {
        width: 30px;
        height: 30px;
        margin: auto;
        margin-bottom: 20px;
     }
    .production_text {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .production_img {
        max-height: 250px;
    }
    .video {
        max-width: 500px;
        max-height: 300px;
    }
}